
.form-container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #749aa9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .form-container form {
    display: flex;
    flex-direction: column;
  }
  
  .form-container label {
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .form-container input[type="text"] {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    transition: border-color 0.3s ease;
  }
  
  .form-container input[type="text"]:focus {
    border-color: #007bff;
  }
  
  .form-container input[type="submit"] {
    padding: 12px 24px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form-container input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .character-preview {
    width: 200px; /* Adjust size as needed */
    height: 200px; /* Adjust size as needed */
    margin-bottom: 20px;
  }
  